*
!.gitignore
!LICENSE
!demo.gif
!.github/
!.github/dependabot.yml
!.github/workflows/
!.github/workflows/*.yml
!.dockerignore
!portrieve.sh
!.portainer_config.sample
!README.md
!openapi.yaml
!Dockerfile
!docker-entrypoint.sh
!docker-compose.yml
